body {
    background-color: var(--neutral-dark);
    font-family: "Outfit", sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.nft-carde {
    background-color: var(--neutral-medium);
    max-width: 346px;
    border-radius: 15px;
    padding: 25px;
}

.nft-carde .image-link .image {
    width: 100%;
    border-radius: 7px;
}

.nft-carde .image-link {
    position: relative;
    display: flex;
}

.nft-carde .image-link::before {
    display: none;
    content: '';
    background-color: cyan;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.nft-carde .image-link::after {
    content: '';
    background-image: url(../src/img/icon-view.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    display: none;
    opacity: 1;
    transition: 0.3s ease-in-out;
    width: 100%;
    height: 100%;

}

.nft-carde .image-link:hover::before,
.nft-carde .image-link:hover::after {
    display: block;
    opacity: 0.4;

}

.nft-carde .title-link .title {
    font-size: 22px;
    color: #fff;
    margin: 25px 0 20px;

}

.nft-carde .title-link .title:hover {
    color: var(--primary-medium);

}

.nft-carde .about {
    color: var(--primary-soft);
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 24px;
}

.nft-carde .info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;
}

.nft-carde .info .price {
    color: var(--primary-medium);
    display: flex;
}

.nft-carde .info .price::before {
    content: '';
    background-image: url(../src/img/icon-ethereum.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 11px;
    display: inline-block;
    margin-right: 5px;
}


.nft-carde .info .days-left {
    color: var(--primary-soft);
    display: flex;
}

.nft-carde .info .days-left::before {
    content: '';
    background-image: url(../src/img/icon-clock.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 15px;
    display: inline-block;
    margin-right: 5px;
}

.nft-carde .criador {
    display: flex;
    align-items: center;
    border-top: 1px solid var(--neutral-soft);
    padding-top: 20px;
}

.nft-carde .criador .skin {
    max-width: 35px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-right: 15px;
}

.nft-carde .criador .text {
    color: var(--primary-soft);

}

.nft-carde .criador .text .name {
    color: #fff;
}

.nft-carde .criador .text .name:hover {
    color: var(--primary-medium);
}